<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/login-styles.css">
    <title>Авторизация</title>
</head>
<body>
<div class="message-container">
    <div th:if="${param.error}" class="error-message">
        Неверный логин и пароль!
    </div>
    <div th:if="${param.logout}" class="success-message">
        Вы вышли из аккаунта.
    </div>
</div>
<div class="container">
    <div class="login-card">
        <form th:action="@{/login}" method="post" class="login-form">
            <h2>Авторизация</h2>

            <input type="text" name="username" placeholder="Имя пользователя"/>
            <input type="password" name="password" placeholder="Пароль"/>

            <input type="submit" value="Авторизоваться"/>
        </form>

        <div class="login-footer">
            Ещё не зарегистрированы?
            <a href="/register">Зарегистрироваться</a>
        </div>
    </div>
</div>
</body>
</html>