<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>REGISTRATION FORM </title>
</head>
<body>
<div th:if="${param.error}">
    Имя пользователя занято!
</div>
<form th:action="@{/register}" method="post">
    <div><label> User Name: <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
</body>

<div class = "footer-link-container">
    <span class = "footer-link-container__text"> Уже есть аккаунт? <a href = "/login" class = "footer-link-container__link">Авторизоваться</a></span>
</div>
</html>